<!doctype html>
<html lang="en">

<head>
    <title>Doener-Board</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>

    <div class="container-fluid">

        <img src="images/geburtstag.jpg" class="img-fluid" alt="Responsive image" data-toggle="collapse" href="#collaps0" aria-expanded="false"
            aria-controls="collaps0">
        <div class="collapse" id="collaps0">
            <p>Hallo kleine! Du bist wieder ein Jahr älter!! Ich wünsche dir alles Gute und freue mich das ich heute mit dir
                Feiern kann!! Das hier ist meine Art einer Geburstagskarte! Du findest es bestimmt ein bisscehn kitschig aber egal. Ich schwafel einfach mal ein bisschen los!</p>
        </div>

        <img src="images/sonne.jpg" class="img-fluid" alt="Responsive image" data-toggle="collapse" href="#collaps1" aria-expanded="false"
            aria-controls="collaps1">
        <div class="collapse" id="collaps1">
            <p>Kleiner Schatz du bist für mich wie eine zweite Sonne! Immer wenn ich dich sehe und du mich Anstrahlst wird mir ganz
                warm!!. Mit dir fühlt sich selbst jedes Regenwetter wie ein heißen Sommertag an! </p>
        </div>

        <img src="images/wolle.jpg" class="img-fluid" alt="Responsive image" data-toggle="collapse" href="#collaps2" aria-expanded="false"
            aria-controls="collaps2">
        <div class="collapse" id="collaps2">
            <p>Wie kann man nur so weich sein?. Wenn ich dich halte bin ich mir manchmal nicht mehr sicher, ob ich nicht ausversehen
                einen Berg Watte im Arm habe!</p>
        </div>

        <img src="images/taube.jpg" class="img-fluid" alt="Responsive image" data-toggle="collapse" href="#collaps3" aria-expanded="false" aria-controls="collaps3">
        <div class="collapse" id="collaps3">
            <p>Auserdem bist du die Fauschtaube!!!</p>
        </div>

        <img src="images/blume.jpg" class="img-fluid" data-toggle="collapse" href="#collaps4" aria-expanded="false"
            aria-controls="collaps4">
        <div class="collapse" id="collaps4">
            <p>Ich verbinde einfach alle Pusteblumen mit dir! Manchmal finde ich du siehst mit deinen Haaren ein bisschen aus
                wie eine.</p>
        </div>


        <img src="images/kuss.jpg" class="img-fluid" alt="Responsive image" data-toggle="collapse" href="#collaps5" aria-expanded="false"
            aria-controls="collaps5">
        <div class="collapse" id="collaps5">
            <p>Jetzt habe ich aber genug geschwarfelt!! Alles gute zum Geburstag kleine! Bitte umdrehen und ein Küsschen entgegen
                nehemen!!!!
            </p>
        </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>

</html>